@{
    Layout = "_Layout";
}

@model IEnumerable<Pizzeria.Models.Ordine>

<h2>Ordini Evasi</h2>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var ordine in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 bg-success" id="card-@ordine.Id">
                    <div class="card-body">
                        <h5 class="card-title">Ordine @ordine.Id</h5>
                        <p class="card-text"><strong>Data Ordine:</strong> @ordine.DataOrdine</p>
                        <p class="card-text"><strong>Utente:</strong> @ordine.User.Nome</p>
                        <p class="card-text"><strong>Indirizzo:</strong> @ordine.Indirizzo</p>
                        <p class="card-text"><strong>Note:</strong> @ordine.Note</p>
                        <p class="card-text"><strong>Ordine Evaso:</strong> @(ordine.OrdineEvaso ? "Sì" : "No")</p>
                        <p class="card-text">
                            <strong>Articoli:</strong>
                            <ul>
                                @if (ordine.Items != null && ordine.Items.Any())
                                {
                                    @foreach (var item in ordine.Items)
                                    {
                                        <li>
                                            Articolo: @item.Articoli.Nome<br />
                                            Quantità: @item.Quantita
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>Nessun articolo</li>
                                }
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Non ci sono ordini evasi disponibili.</p>
}
